h3 {
    margin: 30px 0 15px 0;
    color: #ddffcc;
}

.solution-list .solution-preview-image {
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0,0,0, 0.3);
}

.solution-preview-text > div {
  font-size: 95%;
  margin: 2px -10px;
  padding: 2px 10px;
}

.solution-authors {
    font-family: 'Ubuntu Condensed';
}

.solution-preview-text {
    background: none;
    margin-left: 10px;
}

.solution-title {
    color: #ddffcc;
}

.install-guide {
    background: #1c1c1e;
    padding: 10px 20px;
    margin: 0 -20px 10px;
    border-radius: 5px;
}

.install-guide h3 {
    margin-top: 10px;
}